{% load static %}

<div class="overflow-x-auto">
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Fund number</th>
                <th scope="col">title</th>
                <th scope="col">Agency</th>
                <th scope="col">status</th>
                <th scope="col">Posted date</th>
                <th scope="col">Close date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Social Cohesion Activity</td>
                <td>USAID-SRI</td>
                <td>Posted</td>
                <td>09/26/2023</td>
                <td>12/12/2023</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Social Cohesion Activity</td>
                <td>USAID-SRI</td>
                <td>Posted</td>
                <td>09/26/2023</td>
                <td>12/12/2023</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Social Cohesion Activity</td>
                <td>USAID-SRI</td>
                <td>Posted</td>
                <td>09/26/2023</td>
                <td>12/12/2023</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Social Cohesion Activity</td>
                <td>USAID-SRI</td>
                <td>Posted</td>
                <td>09/26/2023</td>
                <td>12/12/2023</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Social Cohesion Activity</td>
                <td>USAID-SRI</td>
                <td>Posted</td>
                <td>09/26/2023</td>
                <td>12/12/2023</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Social Cohesion Activity</td>
                <td>USAID-SRI</td>
                <td>Posted</td>
                <td>09/26/2023</td>
                <td>12/12/2023</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Social Cohesion Activity</td>
                <td>USAID-SRI</td>
                <td>Posted</td>
                <td>09/26/2023</td>
                <td>12/12/2023</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Social Cohesion Activity</td>
                <td>USAID-SRI</td>
                <td>Posted</td>
                <td>09/26/2023</td>
                <td>12/12/2023</td>
            </tr>
        </tbody>
    </table>
</div>