{% extends "base.html" %}
{% load static %}

{% block title %}
{{ block.super }} Funds
{% endblock %}

{% block content %}
<div class="m-4">
    <h1>Funds</h1>
    <div class="row g-3 d-flex align-items-center">
        <div class="col-md-3 border-dark bg-body-secondary py-3">
            <form action="." method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% include "users/partials/_field.html" %}
                {% endfor %}
                <button class="btn btn-dark" type="submit">Filter</button>
            </form>
        </div>
        <div class="col-md-9">
            <div class="overflow-x-auto">
                <table class="table table-striped-columns">
                    <thead>
                        <tr>
                            <th scope="col">Fund number</th>
                            <th scope="col">title</th>
                            <th scope="col">Agency</th>
                            <th scope="col">status</th>
                            <th scope="col">Posted date</th>
                            <th scope="col">Close date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Social Cohesion Activity</td>
                            <td>USAID-SRI</td>
                            <td>Posted</td>
                            <td>09/26/2023</td>
                            <td>12/12/2023</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Social Cohesion Activity</td>
                            <td>USAID-SRI</td>
                            <td>Posted</td>
                            <td>09/26/2023</td>
                            <td>12/12/2023</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Social Cohesion Activity</td>
                            <td>USAID-SRI</td>
                            <td>Posted</td>
                            <td>09/26/2023</td>
                            <td>12/12/2023</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Social Cohesion Activity</td>
                            <td>USAID-SRI</td>
                            <td>Posted</td>
                            <td>09/26/2023</td>
                            <td>12/12/2023</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Social Cohesion Activity</td>
                            <td>USAID-SRI</td>
                            <td>Posted</td>
                            <td>09/26/2023</td>
                            <td>12/12/2023</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Social Cohesion Activity</td>
                            <td>USAID-SRI</td>
                            <td>Posted</td>
                            <td>09/26/2023</td>
                            <td>12/12/2023</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Social Cohesion Activity</td>
                            <td>USAID-SRI</td>
                            <td>Posted</td>
                            <td>09/26/2023</td>
                            <td>12/12/2023</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Social Cohesion Activity</td>
                            <td>USAID-SRI</td>
                            <td>Posted</td>
                            <td>09/26/2023</td>
                            <td>12/12/2023</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% with funds as page_obj %}
                {% include "partials/_pagination.html" %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}