{% extends "base.html" %}
{% load static %}

{% block title %}
{{ block.super }} Funds
{% endblock %}

{% block content %}
<div class="m-4">
    <h1>Funds</h1>
    <div class="row g-3 d-flex align-items-center">
        <div class="col-md-3 border-dark bg-body-secondary py-3">
            <form action="." method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% include "users/partials/_field.html" %}
                {% endfor %}
                <button class="btn btn-dark" type="submit">Filter</button>
            </form>
        </div>
        <div class="col-md-9">
            {% include "funds/partials/_funds_table.html" %}
            
            {% with funds as page_obj %}
                {% include "partials/_pagination.html" %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}